<h2>Muscle Overview</h2>
<div class="table-container">
  <table [dataSource]="(muscles$ | async)?.items || []" class="mat-elevation-z8" mat-table>
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell>ID</th>
      <td *matCellDef="let muscle" mat-cell>{{ muscle.id }}</td>
    </ng-container>

    <ng-container matColumnDef="i18NCode">
      <th *matHeaderCellDef mat-header-cell>i18NCode</th>
      <td *matCellDef="let muscle" mat-cell>{{ muscle.i18NCode }}</td>
    </ng-container>


    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
  </table>
</div>
